<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection" connectionString="Data Source=10.224.90.149,1433;Initial Catalog=JSONDb;User ID=sa;Encrypt=False;Trust Server Certificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>